#!/bin/sh
#
# Simple cron script - get zone file for freifunk DNS

wget -O /tmp/rhb.ff.zone map.freifunk-rheinbach.de/zone.php \
&& cp /tmp/rhb.ff.zone /etc/bind/zones/ 

wget -O /tmp/snw.ff.zone snw-map.freifunk-rheinbach.de/zone.php \
&& cp /tmp/snw.ff.zone /etc/bind/zones/ 

